* {
    padding: 0;
    margin: 0;
}
/*----------------------Header -----------------------*/
header{
    background-color: #0f140d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.title a {
    font-family: montserrat;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    margin: 5px 15px;
}
/*-----------------------main --------------------*/

.grupo_1 {
    background-color: #ececec;
    width: 380px;
    margin-top: 50px;
    padding: 20px 0px;
    margin-bottom: 30px;
}
.prode {
    display: flex;
    justify-content: space-around;
}
.partido {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #000000;
   
}
.equipo_1 {
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.equipo_2 {
display: flex;
align-items: center;
flex-direction: row-reverse;
margin-left: 10px;
}
.equipo_1 img, .equipo_2 img{
    margin: 5px;
}
input[type=number]{
    width: 30px;
    height: 20px;
    margin: 5px;
}
.equipo_1 p, .equipo_2 p {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.titulo_grupo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}
.resultados {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_partidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
}
.descripcion_partido {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}
.primer_partido {
    border-top: 1px solid #000000;
} 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=submit] {
    background: #73ae20;
    border: 1px solid #73ae20;
    display: inline-block;
    padding: 9px 28px;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: "Montserrat";
    font-weight: bold;
    color: #ffffff;
    width: 121px;
    height: 38px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}
.prode {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.p_proximo_partido{
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px; 
}
.descripcion_proximo_partido {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}
.titulo_proximo_partido {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.proximo_partido {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}
.partido_proximo {
    display: flex;
}
.main_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: #145614;
}
.puesto_actual {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    align-items: center;
    width: 400px;
    height: 200px;
}
.fila_puesto {
    display: flex;
    justify-content: center;
}
.puesto {
    font-size: 64px;
}
.tabla_input{
    width: 300px !important;
    background-color: #020A40!important;
    border: 1px solid #020A40!important;
}
.boton_prode{
    background-color: #020A40!important;
    border: 1px solid #020A40!important;
}
table{
    width:500px;
    margin:0 auto;
    color:white;
    text-align:center;
  }
  tr{
    cursor:pointer;
  }
  .destacado{
    font-family:'Montserrat';
    font-weight:bold;
    font-size: 22px;
    background-color:#0D6859;
  }
  .fondo1{
    background-color:#7AB318;
    font-size: 18px;
    font-family: 'Montserrat';
    color: #000000;
  }
  .fondo1:hover{
    color:black;
    background-color:#00aa00;
  }
  .fondo2{
     background-color:#A0C55E;
     font-size: 18px;
    font-family: 'Montserrat';
    color: #000000;
  }
  .fondo2:hover{
    color:black;
    background-color:#007700;
  }
  .tabla {
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0F3E76;
  }
/*-------------------Login y Register-----------------*/


body .register{
    display: flex;
}



body .register .foto img{
    height: 100vh;
    width: 45vw;
}

body  .register .formulario{
    margin: auto;
    padding: 130px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body .register .formulario a {
    align-self: center;
    position: relative;
    top: -40px;
}


body .register .formulario form{
    display: flex;
    flex-direction: column;
}

body .register .formulario form input{
    height: 35px;
    width: 250px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    padding: 5px;
}

body .register .formulario form .botones{
    margin: auto;
}

body .register .formulario form button{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    padding: 5px;
    background-color: green;
}


body .register .formulario form a{
    margin-top: 40px;
}

/*-------------------------------creacion de un Prode por------------------------*/

#titulo{
    text-align: center;
    margin: 50px;
}

.equiposForm{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    padding: 10px;
    margin: 20px;
}

.crearEquipos{
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;

}

.grupo{
    padding: 10px;
    margin: 10px;
    background-color: rgb(230,230,230);
    border:1px solid black;
    flex-grow: inherit;
    flex: 1 2 50%
}

.equipo{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    margin: 60px;
}

.equiposForm button{
    padding: 5px;
    margin: auto;
    text-align: center;
    width: 100px;
}





