
<head>
<%- include('./partials/head') %>
<title>Prode</title>
</head>

<body>
    <header>
        <a href="/"><img src="/Imagenes/logo/Logo_copa.png" alt="Logo" width="100px"></a>
        <div class="menu_mobile_bt">
            <div class="mbt_line"></div>
            <div class="mbt_line"></div>
            <div class="mbt_line"></div>
        </div>
        <div class="menu_over">
            <div class="menu_desplegable">
                <div class="title">
                    <a href="#prode">
                        Mi prode
                    </a>
                    <a href="#tabla">
                        Tabla de posiciones
                    </a>
                    <a href="/prode">Administrar</a>
                    <a href="/user/reglas">
                        Reglas
                    </a>
                    <a href="/user/login">Login
                    </a>
                    <a href = "/user/register">Register</a>
            </div>
        </div>
    </header>
    <main>
        <div class="main_1" id="#main_1">
            <div class="proximo_partido">
                <p class="titulo_proximo_partido">PROXIMO PARTIDO:</p>
                <div id="countdown" class="row justify-content-center align-items-center">
                </div>
                <div class="partido_proximo">
                    <div class="equipo_1">
                        <img src="/Imagenes/brasil.png" alt="" height="60px" width="60px" class="bandera_prox">
                        <p class="p_proximo_partido">Bra</p>
                    </div>
                    <a href="#prode">
                        <input class="boton_prode" type="submit" value="Ir al Prode">
                    </a>
                    <div class="equipo_2">
                        <img src="/Imagenes/venezuela.png" alt="" height="60px" width="60px" class="bandera_prox">
                        <p class="p_proximo_partido">Ven</p>

                    </div>
                </div>
            </div>
            <div class="puesto_actual">
                <div class="fila_puesto">
                    <p class="titulo_proximo_partido"> TU PUESTO ES:</p>
                    <p class="puesto">7º</p>
                </div>
                <div class="fila_puesto">
                    <p class="descripcion_proximo_partido">PUNTOS:</p>
                    <p class="descripcion_proximo_partido">9 PUNTOS</p>
                </div>
                <div>
                    <a href="#tabla">
                        <input class="tabla_input" type="submit" value="Ir a la tabla">
                    </a>
                </div>
            </div>
        </div>
        <div class="prode" id="prode">
            <div class="grupo_1">
                <p class="titulo_grupo">  GRUPO 1:</p>
                <form class="main_partidos">
                    <div class="partido primer_partido">
                        <p class="descripcion_partido">
                            Dom, 13/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/brasil.png" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 13/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 17/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 17/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/brasil.png" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 20/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 20/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 23/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 24/06-22Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/brasil.png" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 27/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 28/06-22Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/brasil.png" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="grupo_1">
                <p class="titulo_grupo">  GRUPO 2:</p>
                <form class="main_partidos">
                    <div class="partido primer_partido">
                        <p class="descripcion_partido">
                            Dom, 14/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 14/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/bolivia.png" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 18/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/bolivia.png" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 18/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 21/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 21/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 24/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/bolivia.png" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 24/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 28/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/bolivia.png" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 28/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type = "number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type = "number" placeholder="0">
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="tabla" id="tabla">
            <table cellspacing="0" cellpadding="0">
                <tr class="destacado">
                  <td>Puesto</td>
                  <td>Nombre</td>
                  <td>Puntos</td>
                </tr>
                <tr class="fondo1">
                    <td>1º</td>
                  <td>
                    Pepito
                  </td>
                  <td>17</td>
                  
                </tr>
                <tr class="fondo2">
                    <td>2º</td>
                    <td>
                      Menguito
                    </td>
                    <td>14</td>
                </tr>
                <tr class="fondo1">
                    <td>3º</td>
                    <td>
                      Pedro
                    </td>
                    <td>12</td>
                </tr>
                <tr class="fondo2">
                    <td>4º</td>
                    <td>
                      Marce
                    </td>
                    <td>10</td>
                </tr>
              </table>
        </div>

    </main>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('a[href^="#"]').click(function() {
      var destino = $(this.hash);
      if (destino.length == 0) {
        destino = $('a[name="' + this.hash.substr(1) + '"]');
      }
      if (destino.length == 0) {
        destino = $('html');
      }
      $('html, body').animate({ scrollTop: destino.offset().top }, 2000);
      return false;
    });
  });
  </script>
  <script>

      $(document).ready(function(){
          $(".menu_mobile_bt").click(function(){
              $(".menu_over").slideToggle();
            });
        });
        $( window ).resize(function() {
            setMenuDisplay();
            closeMenu($(".menu_mobile_bt"));
        });
    </script>
</html>