
<head>
<%- include('./partials/head') %>
<title>Prode</title>
</head>

<body>
    <header>
        <div class="title">
            <a href="/"><img src="/Imagenes/logo/logo.png" alt="Logo" width="100px"></a>
            <a href="">
                Home
            </a>
            <a href="">
                Mi prode
            </a>
            <a href="">
                Tabla de posiciones
            </a>
        </div>
        <div class = "title">
            <a href="/user/login">Login
            </a>
            <a href = "/user/register">Register</a>
        </div>
    </header>
    <main>
        <div class="main_1">
            <div class="proximo_partido">
                <p class="titulo_proximo_partido">PROXIMO PARTIDO:</p>
                <p class="descripcion_proximo_partido">
                    Dom, 13/06-18Hs
                </p>
                <div class="partido_proximo">
                    <div class="equipo_1">
                        <img src="/Imagenes/brasil.jpg" alt="" height="60px" width="60px">
                        <p class="p_proximo_partido">Bra</p>
                        <input type="number">
                    </div>
                    <div class="equipo_2">
                        <img src="/Imagenes/venezuela.png" alt="" height="60px" width="60px">
                        <p class="p_proximo_partido">Ven</p>
                        <input type="number">
                    </div>
                </div>
            </div>
        </div>
        <div class="prode">
            <div class="grupo_1">
                <p class="titulo_grupo">  GRUPO 1:</p>
                <form class="main_partidos">
                    <div class="partido primer_partido">
                        <p class="descripcion_partido">
                            Dom, 13/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 13/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 17/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 17/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 20/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 20/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 23/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 24/06-22Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 27/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/Peru.png" alt="" height="20px" width="20px">
                            <p>Per</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 28/06-22Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type="number">
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="grupo_1">
                <p class="titulo_grupo">  GRUPO 2:</p>
                <form class="main_partidos">
                    <div class="partido primer_partido">
                        <p class="descripcion_partido">
                            Dom, 14/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 14/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/bolivia.jpg" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 18/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/bolivia.jpg" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 18/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 21/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 21/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 24/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/bolivia.jpg" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 24/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/chile.png" alt="" height="20px" width="20px">
                            <p>Chi</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 28/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/bolivia.jpg" alt="" height="20px" width="20px">
                            <p>Bol</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/argentina.png" alt="" height="20px" width="20px">
                            <p>Arg</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 28/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/uruguay.jpg" alt="" height="20px" width="20px">
                            <p>Uru</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/paraguay.png" alt="" height="20px" width="20px">
                            <p>Par</p>
                            <input type="number">
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </main>
</body>
</html>