<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="/css/styles.css"  rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <title>Prode</title>
</head>
<body>
    <header></header>
    <main>
        <div class="prode">
            <div class="grupo_1">
                <p class="titulo_grupo">  GRUPO 1:</p>
                <div class="partido">
                    <div class="equipo_1">
                        <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                        <p>Brasil</p>
                        <input type="number">
                    </div>
                    <p>-</p>
                    <div class="equipo_2">
                        <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                        <p>Venezuela</p>
                        <input type="number">
                    </div>
                </div>
                <div class="partido">
                    <div class="equipo_1">
                        <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                        <p>Brasil</p>
                        <input type="number">
                    </div>
                    <p>-</p>
                    <div class="equipo_2">
                        <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                        <p>Venezuela</p>
                        <input type="number">
                    </div>
                </div>
                <div class="partido">
                    <div class="equipo_1">
                        <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                        <p>Brasil</p>
                        <input type="number">
                    </div>
                    <p>-</p>
                    <div class="equipo_2">
                        <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                        <p>Venezuela</p>
                        <input type="number">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>