<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="/css/styles.css"  rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <title>Prode</title>
</head>
<body>
    <header>
        <div class="title">
            <a href="">
                Home
            </a>
            <a href="">
                Mi prode
            </a>
            <a href="">
                Tabla de posiciones
            </a>
        </div>
    </header>
    <main>
        <!--
        <div>
            <p class="Titulo_grupo">Proximo Partido</p>
            <p>Martes 13 de Junio, 21 horas</p>
            <div class="partido_principal">
                    <div class=" Equipo_1">
                        <img src="/Imagenes/brasil.jpg" alt="">
                        <p>Brasil</p>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="prode">
            <div class="grupo_1">
                <p class="titulo_grupo">  GRUPO 1:</p>
                <div class="main_partidos">
                    <div class="partido primer_partido">
                        <p class="descripcion_partido">
                            Dom, 13/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                            <p>Bra</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Dom, 13/06-21Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/COLOMBIA.png" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/ecuador.jpg" alt="" height="20px" width="20px">
                            <p>Ecu</p>
                            <input type="number">
                        </div>
                    </div>
                    <div class="partido">
                        <p class="descripcion_partido">
                            Jue, 17/06-18Hs
                        </p>
                        <div class="equipo_1">
                            <img src="/Imagenes/brasil.jpg" alt="" height="20px" width="20px">
                            <p>Col</p>
                            <input type="number">
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                            <img src="/Imagenes/venezuela.png" alt="" height="20px" width="20px">
                            <p>Ven</p>
                            <input type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>