<header>
    <div class="title">
        <a href="/"><img src="/Imagenes/logo/logo.png" alt="Logo" width="100px"></a>
   
        <a href="">
            Mi prode
        </a>
        <a href="">
            Tabla de posiciones
        </a>
        <a href="/prode">Administrar</a>
    </div>
    <div class = "title">
        <a href="/user/login">Login
        </a>
        <a href = "/user/register">Register</a>
    </div>
</header>