<head>
    <%- include('../partials/head')  %> 
    <title>Pago</title>
    </head>
    
    <body>
        <%- include('../partials/header')  %> 
        <main class="main_pago">
            <p class="Pago">El pago fue aprobado, gracias por ser parte del prode PLV!!!
            </p>
            <p class="a_pago">Para regresar a la pagina, <a class="pago_a" href="/">hace click aqui</a><p>
        </main>
    </body>