<head>
    <%- include('../partials/head')  %>
    <title>Resultados usuario</title> 
</head>

<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="resultadosUser">
            <h1>Crear partido para <%= participante.username  %> </h1>
            <% for( let i = 0; i < participante.grupos.length; i++ ) { %>
                <span>Hola</span>
            
            <% } %>

       
        </div>
    </main>
</body>